.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-basis: 20%;
  background-color:cadetblue;
  border-right-color: black;
  border-radius: 10pt;
  margin: 15pt;
  margin-right: 0;
  flex-shrink: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 20pt;
}

.weather-container {
  display: flex;
  background-color: rgb(125, 165, 117);
  flex-direction: column;
  flex-basis: 20%;
  border-radius: 10pt;
  flex-shrink: 0;
  margin: 15pt;
  margin-left: 0;
}

p{
  text-align: center;
}

.contact-container{
  text-align: left;
}

.artists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.artist {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-name {
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
}

.album-container {
  display: flex;
  justify-content: flex-start;
}

ul{
  list-style: none;
  padding: 0;
}

h2{
  text-align: center;
}